*~
*.pyc
*.swp
knap.dat
*.gplot
scip.set
*.log
*.aux
*.bbl
*.blg
src/mmkp/c/*.o
bin/*2zpl
bin/rand*
bin/kpbt
bin/mkp-domsets
bin/mkp-nu
bin/kpinfo
bin/kp-bt
bin/kp-des
bin/kp-info
bin/kp-rand
bin/mkp-rand
bin/mkp-sfl
bin/mkp-sfl-batch
bin/mkp-simplex
bin/mmkp-rand
bin/ssum-rand
insts/chubeas/*
