*~
*.pyc
*.swp
*.o
*.so.*
*.gplot
*.log
*.aux
*.bbl
*.blg
src/mmkp/c/*.o
bin/*2zpl
bin/rand*
bin/test
bin/kpbt
bin/mkp-domsets
bin/mkp-nu
bin/mkp-core
bin/kpinfo
bin/kp-bt
bin/kp-des
bin/kp-info
bin/kp-rand
bin/mkp-rand
bin/mkp-sfl
bin/mkp-sfl-batch
bin/mkp-simplex
bin/mmkp-rand
bin/ssum-rand
bin/mokp
bin/gmon.out
bin/gmon.out.*
insts/chubeas/*
insts/bazgan/*
mkp-fast-nu
